*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
header{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
.nav1{
  display:flex;
  justify-content:space-around;
  align-item:center;
}
.logo{
  letter-spacing: 5px;
  font-weight:bold;
}
.nav-links{
  display:flex;
  justify-content:space-around;
  width:30%;
}
.nav-links li{
  list-style:none;
}
.nav-links a{
  letter-spacing:3px;
  text-decoration:none;
  font-weight:bold;
  font-size:14px;
}
.container{
  width:100%;
  postion:absolute;
  top:50%;
  text-align:center;

}
.home{
  text-align:center;
}
.home h1{
  font-size:100px;
  font-weight:600;
}

button{
  width:150px;
  font-size:20px;
  border:2px solid #0a0a0a;
  border-radius:10px;
}
.card{
  width:250px;
  height:230px;
  padding:20px 25px;
  box-sizing;border-box;
  margin:10px 15px;
  display:inline-block;
  background-image:url("../static/background-melunsplash.jpg");
  background-size:cover;
}
.card p{
  font=size:10px;
}