<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title> Portfolio Website </title> 
    <style>
      li{
      float: right;
      }
    </style>
  </head>
  <body>
    <div>
    <header>
      <div>
       <h3 class = "float-mb-start mb-0"> Frida Achieng Portfolio </h3> 
        <div>
          
        </div>
      </div>
    </header>
      <main>
        <h1> Hello </h1>
        <p>Welcome to my portfolio site.</p>
        <p>
          <a>Projects</a>
          <a>Contact</a>
        </p>
      </main>
    </div>
  </body>
</html>