<!DOCTYPE html>
<html>
  <head>
    <title> Fun Website </title>
    <style>
      h1{
        font-size: 45px;
        font-family:"helvetica";
      }
    </style>
  </head>
  <body>
    <h1>Fun Website</h1>
    <p>Hey! You're most welcomed to the fun website.</p>
    <img src="https://fun-website.dafrireece.repl.co/static/banner.jpg" height="200px">

    <h2>About</h2>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vulputate enim nulla aliquet porttitor lacus. Augue lacus viverra vitae congue eu consequat ac.</p>

    <h2>Hop in</h2>

    <button>Let's chat!</button>
   
  </body>
</html>