{%extends "base.html"%}
{%block content%}
<div class="projects">
  <h1>Projects</h1>
  </div>
<div class="row">
  <div class="card">
    <div class="desc">
      <h5><a href="">Python</a></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est ullamcorper eget nulla facilisi etiam dignissim</p>
    </div>
  </div>
  <div class="card">
    <div class="desc">
      <h5><a href="">Python</a></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est ullamcorper eget nulla facilisi etiam dignissim</p>
    </div>
  </div>
  <div class="card">
    <div class="desc">
      <h5><a href="">Python</a></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est ullamcorper eget nulla facilisi etiam dignissim</p>
    </div>
  </div>
  <div class="card">
    <div class="desc">
      <h5><a href="">Python</a></h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est ullamcorper eget nulla facilisi etiam dignissim</p>
    </div>
  </div>
</div>
{%endblock%}
